# Preparing CSV datasets for SQL Database creation

In [35]:
# importing the needed libraries. This will be a dedicated import cell and will be updated as additional libraries are used later in the scripting.
import pandas as pd
import datetime

## Importing Beneficiary dataset.
### This will be the main dataset for compiling Patient tables.

In [61]:
bene = pd.read_csv('bene_summary_main.csv')
bene.describe(include = 'all')

,DESYNPUF_ID,BENE_BIRTH_DT,BENE_DEATH_DT,BENE_SEX_IDENT_CD,BENE_RACE_CD,BENE_ESRD_IND,SP_STATE_CODE,BENE_COUNTY_CD,BENE_HI_CVRAGE_TOT_MONS,BENE_SMI_CVRAGE_TOT_MONS,...,SP_STRKETIA,MEDREIMB_IP,BENRES_IP,PPPYMT_IP,MEDREIMB_OP,BENRES_OP,PPPYMT_OP,MEDREIMB_CAR,BENRES_CAR,PPPYMT_CAR
count,112754,1.127540e+05,1.863000e+03,112754.000000,112754.000000,112754,112754.000000,112754.000000,112754.000000,112754.000000,...,112754.000000,112754.000000,112754.000000,112754.000000,112754.000000,112754.000000,112754.000000,112754.000000,112754.000000,112754.000000
unique,112754,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,6DEA7172B0B6612D,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,1,NaN,NaN,NaN,NaN,104737,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,1.936451e+07,2.010066e+07,1.553133,1.285329,NaN,25.703948,366.489437,11.196046,10.929129,...,1.973828,1241.550100,144.040744,45.145183,432.403462,130.765915,13.763858,847.629264,240.218085,12.868457
std,NaN,1.256173e+05,3.445995e+02,0.497171,0.756047,NaN,15.585321,265.934665,2.878621,3.300818,...,0.159647,5173.565791,576.306066,1221.324978,1269.851134,367.288150,250.724028,997.546185,285.174508,73.066451
min,NaN,1.909010e+07,2.010010e+07,1.000000,1.000000,NaN,1.000000,0.000000,0.000000,0.000000,...,1.000000,-3000.000000,0.000000,0.000000,-100.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,NaN,1.928110e+07,2.010040e+07,1.000000,1.000000,NaN,10.000000,141.000000,12.000000,12.000000,...,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,10.000000,0.000000,0.000000
50%,NaN,1.936050e+07,2.010070e+07,2.000000,1.000000,NaN,25.000000,330.000000,12.000000,12.000000,...,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,540.000000,150.000000,0.000000
75%,NaN,1.942030e+07,2.010100e+07,2.000000,1.000000,NaN,39.000000,560.000000,12.000000,12.000000,...,2.000000,0.000000,0.000000,0.000000,320.000000,100.000000,0.000000,1290.000000,370.000000,0.000000
max,NaN,1.983120e+07,2.010120e+07,2.000000,5.000000,NaN,54.000000,999.000000,12.000000,12.000000,...,2.000000,105000.000000,36200.000000,68000.000000,36800.000000,9500.000000,15000.000000,10210.000000,2760.000000,1830.000000

In [62]:
# all UPPER field names are difficult to deal with. I will change them to lower.
bene.columns = map(str.lower,bene.columns)

In [63]:
bene.dtypes

desynpuf_id                  object
bene_birth_dt                 int64
bene_death_dt               float64
bene_sex_ident_cd             int64
bene_race_cd                  int64
bene_esrd_ind                object
sp_state_code                 int64
bene_county_cd                int64
bene_hi_cvrage_tot_mons       int64
bene_smi_cvrage_tot_mons      int64
bene_hmo_cvrage_tot_mons      int64
plan_cvrg_mos_num             int64
sp_alzhdmta                   int64
sp_chf                        int64
sp_chrnkidn                   int64
sp_cncr                       int64
sp_copd                       int64
sp_depressn                   int64
sp_diabetes                   int64
sp_ischmcht                   int64
sp_osteoprs                   int64
sp_ra_oa                      int64
sp_strketia                   int64
medreimb_ip                   int64
benres_ip                     int64
pppymt_ip                     int64
medreimb_op                   int64
benres_op                     int64
pppymt_op                     int64
medreimb_car                  int64
benres_car                    int64
pppymt_car                    int64
dtype: object

### I need to change some data types to better represent the kind of information being held i each field.

In [64]:
bene['bene_birth_dt'] = pd.to_datetime(bene['bene_birth_dt'],format='%Y%m%d')
bene['bene_death_dt'] = pd.to_datetime(bene['bene_death_dt'],format='%Y%m%d')

### 'bene_esrd_ind' is currently a [0,'Y'] indicator. I will change this to binary to align with the rest of the flagged fields.

In [65]:
bene.loc[bene['bene_esrd_ind'] == 'Y','bene_esrd_ind'] = 1
bene['bene_esrd_ind'] = bene['bene_esrd_ind'].astype('int')

### Now I can start creating my table outlines

In [66]:
bene.columns

Index(['desynpuf_id', 'bene_birth_dt', 'bene_death_dt', 'bene_sex_ident_cd',
       'bene_race_cd', 'bene_esrd_ind', 'sp_state_code', 'bene_county_cd',
       'bene_hi_cvrage_tot_mons', 'bene_smi_cvrage_tot_mons',
       'bene_hmo_cvrage_tot_mons', 'plan_cvrg_mos_num', 'sp_alzhdmta',
       'sp_chf', 'sp_chrnkidn', 'sp_cncr', 'sp_copd', 'sp_depressn',
       'sp_diabetes', 'sp_ischmcht', 'sp_osteoprs', 'sp_ra_oa', 'sp_strketia',
       'medreimb_ip', 'benres_ip', 'pppymt_ip', 'medreimb_op', 'benres_op',
       'pppymt_op', 'medreimb_car', 'benres_car', 'pppymt_car'],
      dtype='object')

In [67]:
bene.desynpuf_id.is_unique #Confirms that this is a general primary key option

True

In [68]:
patients = bene[['desynpuf_id','bene_birth_dt','bene_death_dt','bene_sex_ident_cd','bene_race_cd','sp_state_code','bene_county_cd']]
patient_coverage = bene[['desynpuf_id','bene_hi_cvrage_tot_mons','bene_smi_cvrage_tot_mons','bene_hmo_cvrage_tot_mons','plan_cvrg_mos_num']]
patient_diagnosis = bene[['desynpuf_id','bene_esrd_ind', 'sp_alzhdmta','sp_chf', 'sp_chrnkidn', 'sp_cncr', 'sp_copd', 'sp_depressn','sp_diabetes', 'sp_ischmcht', 'sp_osteoprs', 'sp_ra_oa', 'sp_strketia']]
patient_finance = bene[['desynpuf_id','medreimb_ip', 'benres_ip', 'pppymt_ip', 'medreimb_op', 'benres_op','pppymt_op', 'medreimb_car', 'benres_car', 'pppymt_car']]

In [74]:
patients.describe()

       bene_sex_ident_cd   bene_race_cd  sp_state_code  bene_county_cd
count      112754.000000  112754.000000  112754.000000   112754.000000
mean            1.553133       1.285329      25.703948      366.489437
std             0.497171       0.756047      15.585321      265.934665
min             1.000000       1.000000       1.000000        0.000000
25%             1.000000       1.000000      10.000000      141.000000
50%             2.000000       1.000000      25.000000      330.000000
75%             2.000000       1.000000      39.000000      560.000000
max             2.000000       5.000000      54.000000      999.000000

In [75]:
patient_coverage.describe()

,bene_hi_cvrage_tot_mons,bene_smi_cvrage_tot_mons,bene_hmo_cvrage_tot_mons,plan_cvrg_mos_num
count,112754.000000,112754.000000,112754.000000,112754.000000
mean,11.196046,10.929129,3.592751,9.741446
std,2.878621,3.300818,5.376887,4.288978
min,0.000000,0.000000,0.000000,0.000000
25%,12.000000,12.000000,0.000000,11.000000
50%,12.000000,12.000000,0.000000,12.000000
75%,12.000000,12.000000,12.000000,12.000000
max,12.000000,12.000000,12.000000,12.000000

In [76]:
patient_diagnosis.describe()

,bene_esrd_ind,sp_alzhdmta,sp_chf,sp_chrnkidn,sp_cncr,sp_copd,sp_depressn,sp_diabetes,sp_ischmcht,sp_osteoprs,sp_ra_oa,sp_strketia
count,112754.000000,112754.000000,112754.000000,112754.000000,112754.000000,112754.000000,112754.000000,112754.000000,112754.000000,112754.000000,112754.000000,112754.000000
mean,0.071102,1.834250,1.741393,1.861477,1.949155,1.910380,1.822250,1.707523,1.626044,1.869708,1.903223,1.973828
std,0.256996,0.371858,0.437871,0.345449,0.219682,0.285638,0.382304,0.454902,0.483854,0.336626,0.295655,0.159647
min,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,0.000000,2.000000,1.000000,2.000000,2.000000,2.000000,2.000000,1.000000,1.000000,2.000000,2.000000,2.000000
50%,0.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000
75%,0.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000
max,1.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000

In [77]:
patient_finance.describe()

,medreimb_ip,benres_ip,pppymt_ip,medreimb_op,benres_op,pppymt_op,medreimb_car,benres_car,pppymt_car
count,112754.000000,112754.000000,112754.000000,112754.000000,112754.000000,112754.000000,112754.000000,112754.000000,112754.000000
mean,1241.550100,144.040744,45.145183,432.403462,130.765915,13.763858,847.629264,240.218085,12.868457
std,5173.565791,576.306066,1221.324978,1269.851134,367.288150,250.724028,997.546185,285.174508,73.066451
min,-3000.000000,0.000000,0.000000,-100.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,10.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,540.000000,150.000000,0.000000
75%,0.000000,0.000000,0.000000,320.000000,100.000000,0.000000,1290.000000,370.000000,0.000000
max,105000.000000,36200.000000,68000.000000,36800.000000,9500.000000,15000.000000,10210.000000,2760.000000,1830.000000

## This will now store the created dataframes as seperate CSV files to easily read into the SQL database

In [86]:
patients.to_csv('patients.csv', na_rep = 'NULL')
patient_coverage.to_csv('patient_coverage.csv', na_rep = 'NULL')
patient_diagnosis.to_csv('patient_diagnosis.csv', na_rep = 'NULL')
patient_finance.to_csv('patient_finance.csv', na_rep = 'NULL')

# -------------------------------------------------------------------------

# Importing claims dataset to repeat essentially the same process
## Data will be loaded, preprocessed and stored to individual CSV files
## This process ensures that the data being written to the database is as clean and accurate as possible

In [80]:
claims = pd.read_csv('ip_claims_main.csv')
claims.describe(include = 'all')

,DESYNPUF_ID,CLM_ID,SEGMENT,CLM_FROM_DT,CLM_THRU_DT,PRVDR_NUM,CLM_PMT_AMT,NCH_PRMRY_PYR_CLM_PD_AMT,AT_PHYSN_NPI,OP_PHYSN_NPI,...,HCPCS_CD_36,HCPCS_CD_37,HCPCS_CD_38,HCPCS_CD_39,HCPCS_CD_40,HCPCS_CD_41,HCPCS_CD_42,HCPCS_CD_43,HCPCS_CD_44,HCPCS_CD_45
count,66773,6.677300e+04,66773.000000,6.670500e+04,6.670500e+04,66773,66773.000000,66773.000000,6.610000e+04,3.905800e+04,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
unique,37780,NaN,NaN,NaN,NaN,2675,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,CD57573A5B77AAFE,NaN,NaN,NaN,NaN,23006G,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,14,NaN,NaN,NaN,NaN,772,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,1.965017e+14,1.001018,2.008846e+07,2.008861e+07,NaN,9573.632756,398.899256,5.046059e+09,5.065150e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,2.859526e+11,0.031896,7.587457e+03,7.559295e+03,NaN,9315.073232,3663.463023,2.931521e+09,2.930776e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,1.960112e+14,1.000000,2.007113e+07,2.008010e+07,NaN,-8000.000000,0.000000,1.168381e+06,1.159725e+06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,1.962512e+14,1.000000,2.008081e+07,2.008082e+07,NaN,4000.000000,0.000000,2.482526e+09,2.482526e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,1.965012e+14,1.000000,2.009032e+07,2.009032e+07,NaN,7000.000000,0.000000,4.965742e+09,5.039206e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,1.967512e+14,1.000000,2.009111e+07,2.009112e+07,NaN,11000.000000,0.000000,7.676245e+09,7.640006e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,1.969912e+14,2.000000,2.010123e+07,2.010123e+07,NaN,57000.000000,68000.000000,9.999956e+09,9.999602e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [89]:
claims.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66773 entries, 0 to 66772
Data columns (total 81 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   desynpuf_id                     66773 non-null  object
 1   clm_id                          66773 non-null  int64
 2   segment                         66773 non-null  int64
 3   clm_from_dt                     66705 non-null  datetime64[ns]
 4   clm_thru_dt                     66705 non-null  datetime64[ns]
 5   prvdr_num                       66773 non-null  object
 6   clm_pmt_amt                     66773 non-null  int64
 7   nch_prmry_pyr_clm_pd_amt        66773 non-null  int64
 8   at_physn_npi                    66100 non-null  float64
 9   op_physn_npi                    39058 non-null  float64
 10  ot_physn_npi                    7683 non-null   float64
 11  clm_admsn_dt                    66773 non-null  datetime64[ns]
 12  admtng_icd9_dgns_cd             66174 non-null  object
 13  clm_pass_thru_per_diem_amt      66773 non-null  int64
 14  nch_bene_ip_ddctbl_amt          66773 non-null  int64
 15  nch_bene_pta_coinsrnc_lblty_am  66773 non-null  int64
 16  nch_bene_blood_ddctbl_lblty_am  66773 non-null  int64
 17  clm_utlztn_day_cnt              66705 non-null  float64
 18  nch_bene_dschrg_dt              66773 non-null  datetime64[ns]
 19  clm_drg_cd                      66773 non-null  object
 20  icd9_dgns_cd_1                  66678 non-null  object
 21  icd9_dgns_cd_2                  66247 non-null  object
 22  icd9_dgns_cd_3                  65492 non-null  object
 23  icd9_dgns_cd_4                  64005 non-null  object
 24  icd9_dgns_cd_5                  61639 non-null  object
 25  icd9_dgns_cd_6                  58369 non-null  object
 26  icd9_dgns_cd_7                  54407 non-null  object
 27  icd9_dgns_cd_8                  49947 non-null  object
 28  icd9_dgns_cd_9                  45032 non-null  object
 29  icd9_dgns_cd_10                 5455 non-null   object
 30  icd9_prcdr_cd_1                 38231 non-null  float64
 31  icd9_prcdr_cd_2                 22733 non-null  object
 32  icd9_prcdr_cd_3                 14462 non-null  object
 33  icd9_prcdr_cd_4                 9377 non-null   object
 34  icd9_prcdr_cd_5                 6446 non-null   object
 35  icd9_prcdr_cd_6                 4622 non-null   object
 36  hcpcs_cd_1                      0 non-null      float64
 37  hcpcs_cd_2                      0 non-null      float64
 38  hcpcs_cd_3                      0 non-null      float64
 39  hcpcs_cd_4                      0 non-null      float64
 40  hcpcs_cd_5                      0 non-null      float64
 41  hcpcs_cd_6                      0 non-null      float64
 42  hcpcs_cd_7                      0 non-null      float64
 43  hcpcs_cd_8                      0 non-null      float64
 44  hcpcs_cd_9                      0 non-null      float64
 45  hcpcs_cd_10                     0 non-null      float64
 46  hcpcs_cd_11                     0 non-null      float64
 47  hcpcs_cd_12                     0 non-null      float64
 48  hcpcs_cd_13                     0 non-null      float64
 49  hcpcs_cd_14                     0 non-null      float64
 50  hcpcs_cd_15                     0 non-null      float64
 51  hcpcs_cd_16                     0 non-null      float64
 52  hcpcs_cd_17                     0 non-null      float64
 53  hcpcs_cd_18                     0 non-null      float64
 54  hcpcs_cd_19                     0 non-null      float64
 55  hcpcs_cd_20                     0 non-null      float64
 56  hcpcs_cd_21                     0 non-null      float64
 57  hcpcs_cd_22                     0 non-null      float64
 58  hcpcs_cd_23                     0 non-null      float64
 59  hcpcs_cd_24                     0 non-null      float64
 60  hcpcs_cd_25                     0 non-null      float64
 61  hcpcs_cd_26                     0 non-null      float64
 62  hcpcs_cd_27                     0 non-null      float64
 63  hcpcs_cd_28                     0 non-null      float64
 64  hcpcs_cd_29                     0 non-null      float64
 65  hcpcs_cd_30                     0 non-null      float64
 66  hcpcs_cd_31                     0 non-null      float64
 67  hcpcs_cd_32                     0 non-null      float64
 68  hcpcs_cd_33                     0 non-null      float64
 69  hcpcs_cd_34                     0 non-null      float64
 70  hcpcs_cd_35                     0 non-null      float64
 71  hcpcs_cd_36                     0 non-null      float64
 72  hcpcs_cd_37                     0 non-null      float64
 73  hcpcs_cd_38                     0 non-null      float64
 74  hcpcs_cd_39                     0 non-null      float64
 75  hcpcs_cd_40                     0 non-null      float64
 76  hcpcs_cd_41                     0 non-null      float64
 77  hcpcs_cd_42                     0 non-null      float64
 78  hcpcs_cd_43                     0 non-null      float64
 79  hcpcs_cd_44                     0 non-null      float64
 80  hcpcs_cd_45                     0 non-null      float64
dtypes: datetime64[ns](4), float64(50), int64(8), object(19)
memory usage: 41.3+ MB

## The HCPS fields are all null. They will be made a table for future needs however not much will be done with them at this point

In [87]:
# Again, standardizing all field headers to lower case. This is a SQL standard step as well as a time saver for future use.
claims.columns = map(str.lower,claims.columns)
claims.columns

Index(['desynpuf_id', 'clm_id', 'segment', 'clm_from_dt', 'clm_thru_dt',
       'prvdr_num', 'clm_pmt_amt', 'nch_prmry_pyr_clm_pd_amt', 'at_physn_npi',
       'op_physn_npi', 'ot_physn_npi', 'clm_admsn_dt', 'admtng_icd9_dgns_cd',
       'clm_pass_thru_per_diem_amt', 'nch_bene_ip_ddctbl_amt',
       'nch_bene_pta_coinsrnc_lblty_am', 'nch_bene_blood_ddctbl_lblty_am',
       'clm_utlztn_day_cnt', 'nch_bene_dschrg_dt', 'clm_drg_cd',
       'icd9_dgns_cd_1', 'icd9_dgns_cd_2', 'icd9_dgns_cd_3', 'icd9_dgns_cd_4',
       'icd9_dgns_cd_5', 'icd9_dgns_cd_6', 'icd9_dgns_cd_7', 'icd9_dgns_cd_8',
       'icd9_dgns_cd_9', 'icd9_dgns_cd_10', 'icd9_prcdr_cd_1',
       'icd9_prcdr_cd_2', 'icd9_prcdr_cd_3', 'icd9_prcdr_cd_4',
       'icd9_prcdr_cd_5', 'icd9_prcdr_cd_6', 'hcpcs_cd_1', 'hcpcs_cd_2',
       'hcpcs_cd_3', 'hcpcs_cd_4', 'hcpcs_cd_5', 'hcpcs_cd_6', 'hcpcs_cd_7',
       'hcpcs_cd_8', 'hcpcs_cd_9', 'hcpcs_cd_10', 'hcpcs_cd_11', 'hcpcs_cd_12',
       'hcpcs_cd_13', 'hcpcs_cd_14', 'hcpcs_cd_15', 'hcpcs_cd_16',
       'hcpcs_cd_17', 'hcpcs_cd_18', 'hcpcs_cd_19', 'hcpcs_cd_20',
       'hcpcs_cd_21', 'hcpcs_cd_22', 'hcpcs_cd_23', 'hcpcs_cd_24',
       'hcpcs_cd_25', 'hcpcs_cd_26', 'hcpcs_cd_27', 'hcpcs_cd_28',
       'hcpcs_cd_29', 'hcpcs_cd_30', 'hcpcs_cd_31', 'hcpcs_cd_32',
       'hcpcs_cd_33', 'hcpcs_cd_34', 'hcpcs_cd_35', 'hcpcs_cd_36',
       'hcpcs_cd_37', 'hcpcs_cd_38', 'hcpcs_cd_39', 'hcpcs_cd_40',
       'hcpcs_cd_41', 'hcpcs_cd_42', 'hcpcs_cd_43', 'hcpcs_cd_44',
       'hcpcs_cd_45'],
      dtype='object')

## Reformatting fields to represent viable formats

In [88]:
claims['clm_from_dt'] = pd.to_datetime(claims['clm_from_dt'],format='%Y%m%d')
claims['clm_thru_dt'] = pd.to_datetime(claims['clm_thru_dt'],format='%Y%m%d')
claims['clm_admsn_dt'] = pd.to_datetime(claims['clm_admsn_dt'],format='%Y%m%d')
claims['nch_bene_dschrg_dt'] = pd.to_datetime(claims['nch_bene_dschrg_dt'],format='%Y%m%d')

## Checking dataset for viable key fields

In [90]:
claims.desynpuf_id.is_unique

False

In [91]:
claims.clm_id.is_unique

False

### Both of these fields would have been acceptable as primary keyes if unique
### The logic of failed uniqueness makes sense given:
#### 1. A paitient can have multiple claims
#### and
#### 2. A claim can have multiple providers or segments (in this case segment 2 causes the failure)
### The solution for this will be to create a composite primary key within the SQL upload

In [97]:
claim = claims[['clm_id','segment','clm_from_dt','clm_thru_dt','clm_utlztn_day_cnt']]
claim_provider = claims[['clm_id','segment','prvdr_num']]
claim_finance = claims[['clm_id', 'segment','clm_drg_cd','clm_pmt_amt', 'nch_prmry_pyr_clm_pd_amt','clm_pass_thru_per_diem_amt', 'nch_bene_ip_ddctbl_amt','nch_bene_pta_coinsrnc_lblty_am', 'nch_bene_blood_ddctbl_lblty_am']]
claim_admission = claims[['clm_id', 'segment','prvdr_num','desynpuf_id','admtng_icd9_dgns_cd','clm_admsn_dt','nch_bene_dschrg_dt', 'at_physn_npi','op_physn_npi', 'ot_physn_npi']]
claim_icd9_dgns = claims[['clm_id','segment','icd9_dgns_cd_1', 'icd9_dgns_cd_2', 'icd9_dgns_cd_3', 'icd9_dgns_cd_4','icd9_dgns_cd_5', 'icd9_dgns_cd_6', 'icd9_dgns_cd_7', 'icd9_dgns_cd_8','icd9_dgns_cd_9', 'icd9_dgns_cd_10']]
claim_icd9_prcdr = claims[['clm_id','segment','icd9_prcdr_cd_1','icd9_prcdr_cd_2', 'icd9_prcdr_cd_3', 'icd9_prcdr_cd_4','icd9_prcdr_cd_5', 'icd9_prcdr_cd_6']]
claim_hcpcs_cd = claims[['clm_id','segment','hcpcs_cd_1', 'hcpcs_cd_2','hcpcs_cd_3', 'hcpcs_cd_4', 'hcpcs_cd_5', 'hcpcs_cd_6', 'hcpcs_cd_7','hcpcs_cd_8', 'hcpcs_cd_9', 'hcpcs_cd_10', 'hcpcs_cd_11', 'hcpcs_cd_12','hcpcs_cd_13', 'hcpcs_cd_14', 'hcpcs_cd_15', 'hcpcs_cd_16','hcpcs_cd_17', 'hcpcs_cd_18', 'hcpcs_cd_19', 'hcpcs_cd_20','hcpcs_cd_21', 'hcpcs_cd_22', 'hcpcs_cd_23', 'hcpcs_cd_24','hcpcs_cd_25', 'hcpcs_cd_26', 'hcpcs_cd_27', 'hcpcs_cd_28','hcpcs_cd_29', 'hcpcs_cd_30', 'hcpcs_cd_31', 'hcpcs_cd_32','hcpcs_cd_33', 'hcpcs_cd_34', 'hcpcs_cd_35', 'hcpcs_cd_36','hcpcs_cd_37', 'hcpcs_cd_38', 'hcpcs_cd_39', 'hcpcs_cd_40','hcpcs_cd_41', 'hcpcs_cd_42', 'hcpcs_cd_43', 'hcpcs_cd_44','hcpcs_cd_45']]
patient_claim = claims[['desynpuf_id','clm_id','segment']]

## Cleaning up datasets where all informational rows are null

In [107]:
claim_icd9_dgns.dropna(thresh=10, inplace = True)
claim_icd9_prcdr.dropna(thresh=6, inplace = True)
claim_hcpcs_cd.dropna(thresh=45, inplace = True)

<ipython-input-107-be07f1fa9065>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  claim_icd9_dgns.dropna(thresh=10, inplace = True)
<ipython-input-107-be07f1fa9065>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  claim_icd9_prcdr.dropna(thresh=6, inplace = True)
<ipython-input-107-be07f1fa9065>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  claim_hcpcs_cd.dropna(thresh=45, inplace = True)

In [108]:
claim.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66773 entries, 0 to 66772
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   clm_id              66773 non-null  int64
 1   segment             66773 non-null  int64
 2   clm_from_dt         66705 non-null  datetime64[ns]
 3   clm_thru_dt         66705 non-null  datetime64[ns]
 4   clm_utlztn_day_cnt  66705 non-null  float64
dtypes: datetime64[ns](2), float64(1), int64(2)
memory usage: 2.5 MB

In [99]:
claim_provider.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66773 entries, 0 to 66772
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   clm_id     66773 non-null  int64
 1   segment    66773 non-null  int64
 2   prvdr_num  66773 non-null  object
dtypes: int64(2), object(1)
memory usage: 1.5+ MB

In [100]:
claim_finance.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66773 entries, 0 to 66772
Data columns (total 9 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   clm_id                          66773 non-null  int64
 1   segment                         66773 non-null  int64
 2   clm_drg_cd                      66773 non-null  object
 3   clm_pmt_amt                     66773 non-null  int64
 4   nch_prmry_pyr_clm_pd_amt        66773 non-null  int64
 5   clm_pass_thru_per_diem_amt      66773 non-null  int64
 6   nch_bene_ip_ddctbl_amt          66773 non-null  int64
 7   nch_bene_pta_coinsrnc_lblty_am  66773 non-null  int64
 8   nch_bene_blood_ddctbl_lblty_am  66773 non-null  int64
dtypes: int64(8), object(1)
memory usage: 4.6+ MB

In [101]:
claim_admission.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66773 entries, 0 to 66772
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   clm_id               66773 non-null  int64
 1   segment              66773 non-null  int64
 2   prvdr_num            66773 non-null  object
 3   desynpuf_id          66773 non-null  object
 4   admtng_icd9_dgns_cd  66174 non-null  object
 5   clm_admsn_dt         66773 non-null  datetime64[ns]
 6   nch_bene_dschrg_dt   66773 non-null  datetime64[ns]
 7   at_physn_npi         66100 non-null  float64
 8   op_physn_npi         39058 non-null  float64
 9   ot_physn_npi         7683 non-null   float64
dtypes: datetime64[ns](2), float64(3), int64(2), object(3)
memory usage: 5.1+ MB

In [109]:
claim_icd9_dgns.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 49953 entries, 0 to 66772
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   clm_id           49953 non-null  int64
 1   segment          49953 non-null  int64
 2   icd9_dgns_cd_1   49931 non-null  object
 3   icd9_dgns_cd_2   49896 non-null  object
 4   icd9_dgns_cd_3   49888 non-null  object
 5   icd9_dgns_cd_4   49888 non-null  object
 6   icd9_dgns_cd_5   49896 non-null  object
 7   icd9_dgns_cd_6   49895 non-null  object
 8   icd9_dgns_cd_7   49884 non-null  object
 9   icd9_dgns_cd_8   49892 non-null  object
 10  icd9_dgns_cd_9   45027 non-null  object
 11  icd9_dgns_cd_10  5455 non-null   object
dtypes: int64(2), object(10)
memory usage: 5.0+ MB

In [110]:
claim_icd9_prcdr.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9477 entries, 11 to 66771
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   clm_id           9477 non-null   int64
 1   segment          9477 non-null   int64
 2   icd9_prcdr_cd_1  9465 non-null   float64
 3   icd9_prcdr_cd_2  8949 non-null   object
 4   icd9_prcdr_cd_3  8951 non-null   object
 5   icd9_prcdr_cd_4  8894 non-null   object
 6   icd9_prcdr_cd_5  6396 non-null   object
 7   icd9_prcdr_cd_6  4610 non-null   object
dtypes: float64(1), int64(2), object(5)
memory usage: 666.4+ KB

In [111]:
claim_hcpcs_cd.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 47 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   clm_id       0 non-null      int64
 1   segment      0 non-null      int64
 2   hcpcs_cd_1   0 non-null      float64
 3   hcpcs_cd_2   0 non-null      float64
 4   hcpcs_cd_3   0 non-null      float64
 5   hcpcs_cd_4   0 non-null      float64
 6   hcpcs_cd_5   0 non-null      float64
 7   hcpcs_cd_6   0 non-null      float64
 8   hcpcs_cd_7   0 non-null      float64
 9   hcpcs_cd_8   0 non-null      float64
 10  hcpcs_cd_9   0 non-null      float64
 11  hcpcs_cd_10  0 non-null      float64
 12  hcpcs_cd_11  0 non-null      float64
 13  hcpcs_cd_12  0 non-null      float64
 14  hcpcs_cd_13  0 non-null      float64
 15  hcpcs_cd_14  0 non-null      float64
 16  hcpcs_cd_15  0 non-null      float64
 17  hcpcs_cd_16  0 non-null      float64
 18  hcpcs_cd_17  0 non-null      float64
 19  hcpcs_cd_18  0 non-null      float64
 20  hcpcs_cd_19  0 non-null      float64
 21  hcpcs_cd_20  0 non-null      float64
 22  hcpcs_cd_21  0 non-null      float64
 23  hcpcs_cd_22  0 non-null      float64
 24  hcpcs_cd_23  0 non-null      float64
 25  hcpcs_cd_24  0 non-null      float64
 26  hcpcs_cd_25  0 non-null      float64
 27  hcpcs_cd_26  0 non-null      float64
 28  hcpcs_cd_27  0 non-null      float64
 29  hcpcs_cd_28  0 non-null      float64
 30  hcpcs_cd_29  0 non-null      float64
 31  hcpcs_cd_30  0 non-null      float64
 32  hcpcs_cd_31  0 non-null      float64
 33  hcpcs_cd_32  0 non-null      float64
 34  hcpcs_cd_33  0 non-null      float64
 35  hcpcs_cd_34  0 non-null      float64
 36  hcpcs_cd_35  0 non-null      float64
 37  hcpcs_cd_36  0 non-null      float64
 38  hcpcs_cd_37  0 non-null      float64
 39  hcpcs_cd_38  0 non-null      float64
 40  hcpcs_cd_39  0 non-null      float64
 41  hcpcs_cd_40  0 non-null      float64
 42  hcpcs_cd_41  0 non-null      float64
 43  hcpcs_cd_42  0 non-null      float64
 44  hcpcs_cd_43  0 non-null      float64
 45  hcpcs_cd_44  0 non-null      float64
 46  hcpcs_cd_45  0 non-null      float64
dtypes: float64(45), int64(2)
memory usage: 0.0 bytes

In [112]:
claim.to_csv('claim.csv', na_rep = 'NULL')
claim_provider.to_csv('claim_provider.csv', na_rep = 'NULL')
claim_finance.to_csv('claim_finance.csv', na_rep = 'NULL')
claim_admission.to_csv('claim_admission.csv', na_rep = 'NULL')
claim_icd9_dgns.to_csv('claim_icd9_dgns.csv', na_rep = 'NULL')
claim_icd9_prcdr.to_csv('claim_icd9_prcdr.csv', na_rep = 'NULL')
claim_hcpcs_cd.to_csv('claim_hcpcs_cd.csv', na_rep = 'NULL')
patient_claim.to_csv('patient_claim.csv', na_rep = 'NULL')